node_modules/
.env
.env.local
.vercel
*.XML
assets/videos/C1191.MP4
assets/videos/C1192.MP4
assets/videos/C1193.MP4
assets/videos/C1194.MP4
assets/videos/C1195.MP4
assets/videos/C1196.MP4
assets/videos/C1197.MP4
assets/videos/C1199.MP4
assets/videos/C1200.MP4
assets/videos/C1202.MP4
assets/videos/C1203.MP4
assets/videos/C1204.MP4
assets/videos/C1205.MP4
assets/videos/C1206.MP4
assets/videos/C1207.MP4
assets/videos/C1208.MP4
assets/videos/__MACOSX/
assets/images/_MG_0088.jpg
assets/images/_MG_0092.jpg
assets/images/_MG_0095.jpg
assets/images/_MG_0104.jpg
assets/images/_MG_0119.jpg
assets/images/_MG_0127.jpg
assets/images/_MG_0130.jpg
assets/images/_MG_0141.jpg
assets/images/_MG_0144.jpg
assets/images/_MG_0145.jpg
assets/images/_MG_0166.jpg
assets/images/_MG_0175.jpg
assets/images/_MG_0182.jpg
assets/images/_MG_0202.jpg
assets/images/_MG_0205.jpg
assets/images/_MG_0208.jpg
assets/images/_MG_0224.jpg
assets/images/_MG_0236.jpg
assets/images/_MG_0238.jpg
assets/images/_MG_0239.jpg
assets/images/_MG_0240.jpg
assets/images/_MG_0241.jpg
assets/images/_MG_0268.jpg
assets/images/_MG_0269.jpg
assets/logos/blessedEnoughGorraNegro.png
.env*
